<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Democratreats</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/home">Home<span class="sr-only">Home</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/logout">Logout</a>
      </li>
  </div>
</nav>

<div class="jumbotron pt-5 pb-4">
  <div class="wrapper text-center">
    <h2>
      Welcome Admin/User!
      {{!-- check and say hi to admin or user here --}}
      <br>
      <br>
      Currently Viewing Group X
    </h2>
    {{!-- Change to dynamically get Group --}}
    <br>

    <div class="dropdown">
      <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        Click here to change Group
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
        {{!-- {{something}} --}}
      </div>
    </div>
  </div>
</div>



<div id="content-div">
    <div class="wrapper mx-5 mt-4" id="dataReturn">
      <div class="card">
        <div class="card-body p-2">
        </div>
      </div>
</div>
</div>


<script src="/js/polledit.js"></script>