<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Democratreats</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/logout">Logout</a>
      </li>
  </div>
</nav>

{{!-- Page Wrapper --}}
<div class="wrapper w-75 mx-auto mt-4">
  {{!-- Button Group Nav --}}
  <div class="btn-group btn-group-lg btn-group-toggle d-flex" role="group" data-toggle="buttons">
    <button class="btn btn-primary w-100 mr-1" id="optionResult">
      <input type="radio" name="options" autocomplete="off"> Results
    </button>
    <button class="btn btn-primary w-100 mr-1" id="optionPoll">
      <input type="radio" name="options" autocomplete="off"> Polls
    </button>
    <button class="btn btn-primary w-100 mr-1" id="optionIssue">
      <input type="radio" name="options" autocomplete="off"> Issues
    </button>
    <button class="btn btn-primary w-100" id="optionRequest">
      <input type="radio" name="options" autocomplete="off"> Requests
    </button>
  </div>

  {{!-- Issue Toolbar --}}
  <div class="card my-3 hidden" id="issue-toolbar">
    <div class="card-body">
      <button class="btn btn-primary" id="issue-form-btn">Create a New Issue</button>

      <form class="hidden" id="issue-form">
        <hr>
        <div class="form-group">
          <label for="issueingPromptID">What is the name of the issue?</label>
          <input type="text" class="form-control" id="issue-name-input" placeholder="Name">
        </div>

        <div class="form-group">
          <label for="issueingChoiceID">Please enter brief a description of the issue.
          </label>
          <input type="text" class="form-control" id="issue-description-input" placeholder="description">
        </div>

        <hr>

        <a class="btn btn-primary btn-lg issue-submit">submit this issue</a>
    </div>
    </form>

  </div>

  {{!-- Request Toolbar --}}
  <div class="card my-3 hidden" id="request-toolbar">
    <div class="card-body">
      <button class="btn btn-primary" id="request-form-btn">Create a New Request</button>

      <form class="hidden" id="request-form">
        <hr>
        <div class="form-group">
          <label for="requestingPromptID">What is the name of the request?</label>
          <input type="text" class="form-control" id="request-name-input" placeholder="Name">
        </div>

        <div class="form-group">
          <label for="requestingChoiceID">Please enter brief a description of the request.
          </label>
          <input type="text" class="form-control" id="request-description-input" placeholder="description">
        </div>

        <hr>

        <a class="btn btn-primary btn-lg request-submit">submit this request</a>
    </div>
    </form>

  </div>

  {{!-- Main Content Container --}}
  <div id="content-div">
  </div>

  <script src="/js/employee.js"></script>