{{!-- Navbar --}}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Democratreats</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/logout">Logout</a>
      </li>
  </div>
</nav>

{{!-- Header --}}
<div class="jumbotron text-center mt-4 py-4">
  <h3>Welcome Administrator!</h3>
</div>

{{!-- Page Wrapper --}}
<div class="wrapper w-75 mx-auto mt-4">
  {{!-- Button Group Nav --}}
  <div class="card p-1 px-2">
    <div class="btn-group btn-group-lg btn-group-toggle d-flex" role="group" data-toggle="buttons">
      <button class="btn btn-primary w-100 mr-1" id="option1">
        <input type="radio" name="options" autocomplete="off"> Results
      </button>
      <button class="btn btn-primary w-100 mr-1" id="option2">
        <input type="radio" name="options" autocomplete="off"> Members
      </button>
      <button class="btn btn-primary w-100 mr-1" id="option3">
        <input type="radio" name="options" autocomplete="off"> Polls
      </button>
      {{!-- <button class="btn btn-primary w-100 mr-1" id="option4">
        <input type="radio" name="options" autocomplete="off"> Issues
      </button> --}}
      <button class="btn btn-primary w-100" id="option5">
        <input type="radio" name="options" autocomplete="off"> Requests
      </button>
    </div>
  </div>


  {{!-- Poll Toolbar --}}
  <div class="card my-3 hidden" id="poll-toolbar">
    <div class="card-body">
      <button class="btn btn-primary" id="poll-form-btn">Create a New Poll</button>

      <form class="hidden" id="poll-form">
        <hr>
        <div class="form-group">
          <label for="pollingPromptID">What is the name of the Poll?</label>
          <input type="text" class="form-control" id="poll-name-input" placeholder="Name">
        </div>

        <div class="form-group">
          <label for="pollingChoiceID">Please enter brief a description of the poll.
          </label>
          <input type="text" class="form-control" id="poll-description-input" placeholder="description">
        </div>

        <div class="form-group">
          <label for="closingTime">What time and date will this poll close?</label>
          <input type="text" class="form-control" id="poll-close-input" placeholder="5:00 PM">
        </div>

        <hr>

        <div id="options-area">
          <p>Options will appear here</p>
        </div>

        <label for="pollingPromptID">Add Options for the poll below...</label>
        <input type="text" class="form-control" id="option-input" placeholder="new option">

        <button class="btn btn-primary submit-option mt-2">Add
          Option
        </button>

        <p class="help-block"></p>

        <a class="btn btn-primary btn-lg poll-submit">submit this poll</a>
    </div>
    </form>

  </div>

  {{!-- Member Toolbar --}}
  <div class="card my-3 hidden" id="member-toolbar">
    <div class="card-body">
      <button class="btn btn-primary" id="member-form-btn">Add a new Member</button>

      <form class="hidden" id="member-form">
        <hr>
        <div class="form-group">
          <label for="memberingPromptID">What is the name of the member?</label>
          <input type="text" class="form-control" id="member-name-input" placeholder="Name">
        </div>

        <div class="form-group">
          <label for="memberingChoiceID">Please enter brief a description of the member.
          </label>
          <input type="text" class="form-control" id="member-description-input" placeholder="description">
        </div>

        <div class="form-group">
          <label for="closingTime">What time and date will this member close?</label>
          <input type="text" class="form-control" id="member-close-input" placeholder="5:00 PM">
        </div>

        <hr>

        <div id="options-area">
          <p>Options will appear here</p>
        </div>

        <label for="memberingPromptID">Add Options for the member below...</label>
        <input type="text" class="form-control" id="option-input" placeholder="new option">

        <button class="btn btn-primary submit-option mt-2">Add
          Option</button>
        <p class="help-block"></p>
        <div class="checkbox">
          <label>
            <input type="checkbox"> I am not a roboto
          </label>
        </div>
        <a class="btn btn-primary btn-lg member-submit">submit this member</a>
    </div>
    </form>

  </div>


  {{!--Main Content Container --}}
  <div id="content-div">

  </div>

</div>




<script src="/js/btnGroup.js"></script>
<script src="/js/poll.js"></script>