<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Democratreats</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/logout">Logout</a>
      </li>
  </div>
</nav>

<div class="jumbotron pt-5 pb-4">
  <div class="wrapper text-center">
    <h2>
      Welcome Admin/User!
      {{!-- check and say hi to admin or user here --}}
      <br>
      <br>
      Currently Viewing Group X
    </h2>
    {{!-- Change to dynamically get Group --}}
    <br>

    <div class="dropdown">
      <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        Click here to change Group
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
        {{something}}
      </div>
    </div>
  </div>
</div>

<div class="wrapper w-75 mx-auto">
  {{!-- Button Group Nav --}}
  <div class="btn-group btn-group-lg btn-group-toggle d-flex" role="group" data-toggle="buttons">
    <button class="btn btn-primary w-100" id="option1">
      <input type="radio" name="options" autocomplete="off"> Resources
    </button>
    <button class="btn btn-primary w-100" id="option2">
      <input type="radio" name="options" autocomplete="off"> Members
    </button>
    <button class="btn btn-primary w-100" id="option3">
      <input type="radio" name="options" autocomplete="off"> Polls
    </button>
    {{!-- <button class="btn btn-primary w-100" id="option4">
      <input type="radio" name="options" autocomplete="off"> Issues
    </button> --}}
    <button class="btn btn-primary w-100" id="option5">
      <input type="radio" name="options" autocomplete="off"> Requests
    </button>
  </div>

        <div class="card-body p-2">
          <form>
            <div class="form-group">
              <label for="pollingPromptID">What is the name of the Poll?</label>
              <input type="text" class="form-control" id="poll-name-input" placeholder="Name">
            </div>
            <div class="form-group">
              <label for="pollingChoiceID">Please enter breif a description of the poll.
                </label>
              <input type="text" class="form-control" id="poll-description-input" placeholder="description" </div>
                <div class="form-group">
              <label for="closingTime">What time and date will this poll close?</label>
              <input type="text" class="form-control" id="poll-close-input" placeholder="5:00 PM">
            </div>
            <hr>

            <div id="options-area">
              <p>Options will appear here</p>
            </div>

            <label for="pollingPromptID">Add Options for the poll below...</label>
            <input type="text" class="form-control" id="option-input" placeholder="new option" </div>
            <button class="btn btn-primary submit-option">Add Option</button>
            <p class="help-block"></p>
            <div class="checkbox">
              <label>
                <input type="checkbox"> I am not a roboto
              </label>
            </div>
            <a class="btn btn-primary btn-lg poll-submit">submit this poll</a>
        </div>
        </form>
      </div>

<div id="content-div">
    <div class="wrapper mx-5 mt-4" id="dataReturn">
      <div class="card">
        <div class="card-body p-2">
          {{!-- <button class="btn btn-primary">Create New</button>
          <button class="btn btn-danger float-right">Delete Selected</button> --}}
        </div>
      </div>
{{!-- 
<ul>
{{#each cats}}
  {{#unless sleepy}}
    {{> cats/cat-block sleep=true}}
  {{/unless}}
{{/each}}
</ul> --}}
  </div>
  </div>
</div>
<script src="/js/btnGroup.js"></script>
<script src="/js/poll.js"></script>